/*Reset básico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: url("pexels-jeshoots-234527.jpg") no-repeat center center fixed;
    background-size: cover;
    height: auto;
    margin: 0;
    padding: 0;
  }

  html {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }

  section, p, li {
    color: #fff;
  }

  
  
  /* Header */
  header {
    background-color: rgba(0, 0, 0, 0.356); 
    color: white;
    padding: 20px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  }
  
  .navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    font-size: 1.7rem;
    font-weight: bold;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    font-size: 1rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Main */
  main {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 30px auto;
    background-color: transparent;
    color: #fff;
  }
  
  /* Seções */
  section {
    padding: 60px 40px;
    max-width: 1000px;
    margin: auto;
    line-height: 1.6;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
  }
  
  p {
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.1em;
  }
  
  ul {
    margin-top: 20px;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 1.05em;
  }
  
  article {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  article:last-child {
    border-bottom: none;
  }
  
  /* Footer */
  footer {
    background-color: rgba(0, 0, 0, 0.356);
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 40px;
  }
  
  /* Mapa */
  #mapa iframe {
    border-radius: 6px;
    margin-top: 10px;
  }
  
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      margin-top: 10px;
    }
  
    nav a {
      margin-left: 0;
      margin-right: 15px;
    }
  }